# ====== Space Research Station Management System ======
# Core Dependencies
python-dotenv==1.0.1
mysql-connector-python==9.0.0
ttkbootstrap==1.10.1
pandas==2.2.3

# GUI Libraries
tkintertable==1.3.3

# Optional (for exporting reports or plots, if needed)
openpyxl==3.1.5
reportlab==4.2.2
matplotlib==3.9.2
